<div class="row">

  <%= render "genres" %>

  <div class="medium-10 columns">

    <%= render partial: "movie", object: @movie %>

    <div>
      <%= button_to "Rent!", movie_rentals_path(@movie), class: :button %>
    </div>

    <div>
      <%= link_to "Back", movies_path, class: :button %>
    </div>

  </div>
</div>
